/* BACKGROUND */

.bg-icon {
    position: absolute;
    width: 100px;
    opacity: 0.32;
    filter: drop-shadow(0 0 10px rgba(104, 140, 129, 0.7));
}

/* /* background  */
@keyframes fullMotion {
    0% {
        transform: translateX(-200px) translateY(0) rotate(0deg) scale(1);
        opacity: 0.25;
    }
    25% {
        transform: translateX(25vw) translateY(-40px) rotate(120deg) scale(1.15);
        opacity: 0.35;
    }
    50% {
        transform: translateX(55vw) translateY(10px) rotate(220deg) scale(1.05);
        opacity: 0.30;
    }
    75% {
        transform: translateX(90vw) translateY(-50px) rotate(300deg) scale(1.2);
        opacity: 0.32;
    }
    100% {
        transform: translateX(130vw) translateY(0) rotate(360deg) scale(1);
        opacity: 0.25;
    }
}


/* BODY */
body {
    font-family: Arial, sans-serif;
    background: #9CC6DB;
}


/* CONTAINER */
.container {
    margin: 80px auto;
    width: 480px;

    background: rgba(255, 255, 255, 0.28);
    backdrop-filter: blur(15px);

    padding: 30px;
    border-radius: 22px;

    box-shadow: 
        0 10px 25px rgba(255, 248, 248, 0.15),
        0 5px 10px rgba(255, 255, 255, 0.1) inset;

    border: 1px solid rgba(255, 255, 255, 0.35);
    transition: 0.4s;
}

.container:hover {
    transform: translateY(-6px);
    box-shadow:
        0 20px 50px rgba(250, 250, 208, 0.25),
        0 10px 20px rgba(255, 255, 173, 0.3) inset;
}

.container h2 {
    text-align: center;
    color: #087014;
    font-weight: 700;
    font-family: Arial Black, sans-serif;
}
.container h3 {
    text-align: left;
    color: #000000;
    font-weight: 700;
    font-family: Arial Black, sans-serif;
}


/* INPUT */
input {
    width: 65%;
    padding: 12px;
    margin-bottom: 12px;

    border-radius: 10px;
    border: 1px solid rgba(0, 80, 41, 0.3);

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(6px);

    transition: 0.35s;
}

input:hover {
    box-shadow: 0 0 12px rgba(31, 194, 131, 0.4);
}

input:focus {
    border-color: #0edd80;
    box-shadow: 0 0 8px rgba(0, 255, 157, 0.3);
    outline: none;
}


/* BUTTON */
.add-btn {
    width: 70%;
    padding: 12px;

    background: linear-gradient(135deg, #64a4a3, #0a9f59);
    color: white;

    border: none;
    border-radius: 12px;

    font-weight: 60;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    overflow: hidden;
}

.add-btn:hover {
    background: linear-gradient(135deg, #438868, #0fbd6d);
    transform: translateY(-2px);
}

.add-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
    transform: skewX(-25deg);
    transition: 0.5s;
}

.add-btn:hover::after {
    left: 120%;
}


/* TABLE*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 18px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
    border-radius: 14px;
    overflow: hidden;
    font-family: Arial Black, sans-serif;
}

table th {
    padding: 12px;
    background: rgba(11, 108, 69, 0.2);
    color: #05281a;
    font-weight: 600;
}

table td {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 100, 60, 0.2);
}

tr:last-child td {
    border-bottom: none;
}

table tr:hover {
    background: rgba(0, 255, 157, 0.15);
    transition: 0.35s;
}


/* ACTION BUTTONS */
.action-btn {
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: rgb(76, 49, 49);
    border: none;
    transition: 0.25s;
}

.edit-btn {
    background: #098352;
    color: #ffffff;
    border-radius:10px;
     width: 40%;
     
}

.edit-btn:hover {
    background: #24c477;
    transform: scale(1.05);
    color: #ffffff;
}

.delete-btn {
    background: #920808e9;
     color: #ffffff;
     border-radius: 10px;
      width: 50%;
      
}

.delete-btn:hover {
    background: #e25555;
    transform: scale(1.05);
     color: #ffffff;
}



